# =========================
# Large Data Files
# =========================
data/raw/*.csv
data/raw/*.xlsx
data/clean/*.csv
excel/*.xlsx

# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/
venv/



# =========================
# OS
# =========================
.DS_Store
Thumbs.db
*.log